@mixin responsive-padding {
  padding-left: clamp(20px, 6vw, 110px);
  padding-right: clamp(10px, 5vw, 80px);
}

.content-pad {
  @include responsive-padding;
  padding-bottom: clamp(20px, 5vw, 35px);
}
