<div class="row px-0">
  <div class="col-4 px-0">
    <div class="text-8">CONTACT ME</div>
  </div>

  <div class="col-7 px-0 contacts-row">
    @for (contact of contacts; track contact.label) {
      <div class="location-item">
        @if (contact.type === 'circle') {
          <div class="bg-3">
            <i class="fa-solid {{ contact.icon }}"></i>
          </div>
        } @else {
          <i class="fa-solid {{ contact.icon }}" style="color: #ff6c00"></i>
        }
        <span class="contact-label">{{ contact.label }}</span>
      </div>
    }
  </div>
</div>
